extends ../shared/template

block content

  .series-show-container
    .small-4.columns.series-left-panel
      .row
        .series-cover-home(style='background-image: url("' + cover + '");')
      .row
        .small-6.columns
          if type == 'tv'
            -var id = _id.toString();
            a.button.left-button.add-episode-button(href='/episodes/create/' + id) Add an Episode
        .small-6.columns
    .small-8.columns.series-right-panel
      .row
        .small-12.columns
          h1 #{title} (#{releaseYear})
          p Directed By: #{directors}
      .row
        .small-6.columns
          p Added By: #{userName}
        .small-6.columns
          if type == 'tv'
            p Seasons: #{seasons}


      .row
        .small-12.columns
          if type == 'movie'
            table
              tbody
                tr
                  td
                  td
                  td
                  td
                  td
                    - var id = movie.toString();
                    p Watch Me! &nbsp; &nbsp; &nbsp;
                      a(href='/episodes/watch/' + id)
                        img(src='/img/play.png')

          if type == 'tv'
            table
              thead
                th Season
                th Episode
                th Title
                th Watch
              tbody
                each episode in episodes
                  -var id = episode._id.toString();
                  tr
                    td
                      p #{episode.season}
                    td
                      p #{episode.episodeNo}
                    td
                      p #{episode.title}
                    td
                      a(href='/episodes/watch/' + id)
                        img(src='/img/play.png')




